<h1>Additional Movies to add!</h1>
<div ng-controller="movieTmdbCtrl">
    <!-- add new input to search for movies-->
    
    <div class="search-box my-3">
        <input class="form-control search-input" type="text" placeholder="Enter Movie Name to Add" ng-model="movieSearchText" ng-change="updateSearchResults()">
    </div>
    <div class="search-results" ng-show="searchResults.length > 0">
        <ul class="list-group">
            <a href="#" ng-repeat="result in searchResults" 
            class="list-group-item list-group-item-action" ng-click="addMovie(result)">{{result.name}}</a>
        </ul>
    </div>
    
    <my-movie></my-movie>
</div>